body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE, Edge 対応 */
    scrollbar-width: none;
    /* Firefox 対応 */
}

body::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
}

.header-box {
    position: fixed;
    text-align: left;
    margin-top: 0vh;
    width: 100vw;
    height: 8vh;
    background-color: #664a79;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

#header-kai {
    font-family: serif;
    font-weight: bolder;
    position: fixed;
    position: relative;
    font-size: 3vh;
    margin-left: 13vw;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

#header-text {
    font-family: serif;
    font-weight: bolder;
    position: relative;
    font-size: 5.5vh;
    margin-left: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

/*hamburger menu*/
.drawer_hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
    display: flex;
    height: 15vw;
    width: 15vw;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    /* 重なり順を一番上にする */
    cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 0.75vw;
    width: 6.25vw;
    border-radius: 0.75vw;
    background: #333;
    transition: 0.5s;
    position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
    bottom: 2vw;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
    top: 2vw;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked~.drawer_open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked~.drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 8vh;
    left: 100%;
    /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
}

/* メニュー黒ポチを消す */
.nav_list {
    margin-top: 5vh;
    margin-left: 5vw;
    list-style: none;
    font-size: 7vw;
    z-index: 99;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked~.nav_content {
    left: 0;
    /* メニューを画面に入れる */
}

.nav {
    margin-left: 85vw;
    z-index: 99;
}

main {
    padding-top: 100px;
    justify-self: center;
    /* 横方向中央揃え */
    align-self: center;
    /* 縦方向中央揃え */
}

main button {
    padding: 0.5em;
    font-size: 24pt;
}

.floorchange {
    /*position: relative;
    top: -4vh;*/
    display: flex;
    margin-top: -4vh;
    margin-bottom: -4vh;
}

.position {
    /*position: relative;
    top: -4vh;*/
    margin-top: 5vh;
}

.floorbutton {
    margin-top: 3vh;
    margin-left: 9vw;
    width: 9vw;
    height: 9vw;
    background-color: #e7c3ff;
    border: none;
    -webkit-appearance: none;
    appearance: none;
}

#mapcontainer {
    z-index: 10;
}

.leaflet {
    z-index: 50;
}

.now_floor_disp {
    font-size: 10vw;
}

.now_floor_disp_num {
    font-size: 20vw;
}

#select_id {
    color: blue;
}

.container {
    color: #333;
    width: 90vw;
    border: 2px solid;
    border-color: #333;
    border-radius: 2vw;
    margin: auto;
    padding: 1vw;
    margin-top: 2vh;
    text-align: left;
}

.place_name_box {
    display: flex;
    justify-content: space-between;
}

.kikaku_name {
    font-weight: bold;
    font-size: 5.5vw;
    float: left;
    margin-left: 2vw;
    margin-top: 0.5vh;
}

.place_name {
    text-align: right;
    font-weight: bold;
    font-size: 4.5vw;
    margin-right: 2vw;
    margin-top: 0.75vh;
    align-items: center;
    display: flex;
    background-color: #e7c3ff;
    border-radius: 2vw;
    padding: 0.75vw 1vw;
}

.dantai_name {
    text-align: right;
    margin-bottom: -0.75vh;
    margin-top: 0vh;
    font-size: 3vw;
}

.time {
    font-weight: bold;
    font-size: 4.5vw;
    margin-left: 3vw;
    margin-top: 0.5vh;
    margin-bottom: 0vw;
    text-align: right;
}

.syokai {
    margin: 0vw 3vw 0vw 4vw;
}

.naiyou {
    margin: 1vw 1vw;
    font-size: 3.5vw;
}

#popup_box {
    padding-left: 5vw;
    text-align: left;
    margin: 10vw;
    margin-top: 20vh;
    z-index: 0;
    width: 75vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    visibility : hidden;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        z-index: 0;
        visibility : hidden;
    }

    100% {
        opacity: 1;
        z-index: 100;
        visibility : visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 100;
        visibility : visible;
    }

    100% {
        opacity: 0;
        z-index: 0;
        visibility : hidden;
    }
}

#popup_text {
    font-size: 7vw;
    color: #fff;
    font-weight: bold;
    margin-top: 5vw;
    display: flex;
}

#popup_message {
    font-size: 5vw;
    color: #fff;
}

.close_button {
    position: absolute;
    margin-left: 54vw;
    margin-right: 5vw;
    margin-top: -16vw;
    border: none;
    outline: none;
    background: rgb(255, 255, 255);
    font-size: 4vw;
    font-weight: bold;
    color: #000000;
}
